* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.file {
  font-family: "Inter", sans-serif;
  font-size: 5vw;
  color: white;
}

button {
  background-color: azure;
  border: none;

  font-family: "Inter", sans-serif;
  font-size: 3vh;
  border-radius: 20px;

  padding: 20px 30px;
}
button > a {
  text-decoration: none;
}
